OVAConfigSwitcher.Business/Configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestQueues">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Queue">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Active" type="xs:string" use="required" />
											<xs:attribute name="TimeoutInMilliseconds" type="xs:unsignedShort" use="required" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DATABASENAME" type="xs:string" />
				<xs:element name="SERVERNAME" type="xs:string" />
				<xs:element name="Office365" type="xs:unsignedByte" />
				<xs:element name="Office365URL" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>